<header>
    <div class="fixed-header">
    </div>
</header>
<main>
    <div class="main-page">
        <div class="single-control">
            <div class="single-control-content">
                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
                    <div class="col-md-12 pad0">
                        <div class="form-group">
                            <label>Options</label>
                            <div class="styled-radio">
                                <div class="radio">
                                    <input type="radio" id="radio1" name="Options" checked (click)="GetOptions('Option1')">
                                    <label for="radio1">
                                        <div class="checker"></div>
                                        Option1
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="radio2" name="Options" (click)="GetOptions('Option2')">
                                    <label for="radio2">
                                        <div class="checker"></div>
                                        Option2
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="radio3" name="Options" (click)="GetOptions('Option3')">
                                    <label for="radio3">
                                        <div class="checker"></div>
                                        Option3
                                    </label>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="radio4" name="Options" (click)="GetOptions('Option4')">
                                    <label for="radio4">
                                        <div class="checker"></div>
                                        Option4
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="fixed-footer">

    </div>
</footer>